.home {
  width: 80%;
  margin: auto;
}

.patterns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
}

.pattern {
  width: 33%;
  text-align: center;
}

.header {
  text-align: center;
}
