<div class="home">
  <h1 class="header">Conways Game Of Life</h1>
  <p>
    The Game of Life, also known simply as Life, is a cellular automaton devised
    by the British mathematician John Horton Conway in 1970. This unique game is
    a zero-player game, meaning that its evolution is determined by its inital
    state, and requiring no further input.
  </p>
  <h2>Rules:</h2>
  <p>
    The universe of the Game of Life is an infinite, two-dimensional orthogonal
    grid of square cells, each of which is in one of two possible states, live
    or dead. Every cell interacts with its eight neighbours, which are the cells
    that horizontally, vertically, or diagonally adjacent. At each step in time,
    the following transitions occur:
  </p>
  <ol>
    <li>
      Any live cell with fewer than two live neighbours dies, as if by
      underpopulation.
    </li>
    <li>
      Any live cell with two or three live neighbours lives on to the next
      generation.
    </li>
    <li>
      Any live cell with more than three live neighbours dies, as if by
      overpopulation.
    </li>
    <li>
      Any dead cell with exactly three live neighbours becomes a live cell, as
      if by reproduction.
    </li>
  </ol>
  <h2>Patterns:</h2>
  <p>
    Many different types of patterns occur in the Game of Life, which are
    classified according to their behaviour. Common pattern types include: still
    lifes, these do not change from one generation to the next; oscillators,
    which return to their inital state after a finite number of generations; and
    spaceships, which translate themselves across the grid.
  </p>
  <div class="patterns">
    <div class="pattern">
      <h3>Still Lifes:</h3>
      <p>Block:</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/9/96/Game_of_life_block_with_border.svg"
        alt="game of life Block"
      />
      <p>Bee-hive</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/67/Game_of_life_beehive.svg"
        alt="game of life Bee-Hive"
      />
      <p>Loaf</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/f/f4/Game_of_life_loaf.svg"
        alt="game of life Loaf"
      />
      <p>Boat</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Game_of_life_boat.svg"
        alt="game of life Boat"
      />
      <p>Tub</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/3/31/Game_of_life_flower.svg"
        alt="game of life Tub"
      />
    </div>
    <div class="pattern">
      <h3>Oscillators:</h3>
      <p>Blinker</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/9/95/Game_of_life_blinker.gif"
        alt="game of life Blinker"
      />
      <p>Toad</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/1/12/Game_of_life_toad.gif"
        alt="game of life Toad"
      />
      <p>Beacon</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Game_of_life_beacon.gif"
        alt="game of life Beacon"
      />
      <p>Pulsar</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/0/07/Game_of_life_pulsar.gif"
        alt="game of life Pulsar"
      />
      <p>Penta-decathlon</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/f/fb/I-Column.gif"
        alt="game of life Penta-decathlon"
      />
    </div>
    <div class="pattern">
      <h3>Spaceships:</h3>
      <p>Glider</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Game_of_life_animated_glider.gif"
        alt="game of life Glider"
      />
      <p>Light-weight spaceship</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/3/37/Game_of_life_animated_LWSS.gif"
        alt="game of life Light-weight spaceship"
      />
      <p>Middle-weight spaceship</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Animated_Mwss.gif"
        alt="game of life Middle-weight spaceship"
      />
      <p>Heavy-weight spaceship</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Animated_Hwss.gif"
        alt="game of life Heavy-weight spaceship"
      />
    </div>
  </div>
</div>
