.board {
  justify-content: space-around;
  display: inline-flex;
  text-align: justify;
  background-color: white;
}

.dead {
  background: black;
  width: 30px;
  height: 30px;
  border: 2px solid gray;
}

.alive {
  background: white;
  width: 30px;
  height: 30px;
  border: 2px solid gray;
}
